<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora de Sistemas Fotovoltaicos</title>
    <link rel="stylesheet" href="css/inicio.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    <header>
        <div class="nav-bar">
            <a href="inicioSistema.html" class="logo"><img src="Images/LogoTSolar.jpg" alt="Logo"></a>
            <button class="ic--baseline-home">
            </button>
            <h1>CALCULADORA DE <br> SISTEMAS FOTOVOLTAICOS</h1>
        </div>
    </header>
    <main>
        <div class="contenedor-principal"></div>
        <div class="seccion-saludo">
            <h1>¡Bienvenido!</h1>
            <h2>¿Que tipo de sistema necesitas calcular hoy?</h2>
            <table class="tabla-saludo">
                <tr>
                    <td><button class="SFVI" type="button" onclick="seleccionarTipoSistema('Interconectado')"
                            id="btnInterconectado">SISTEMAS FOTOVOLTAICOS INTERCONECTADOS</button></td>
                    <td><button class="SFVA" type="button" onclick="seleccionarTipoSistema('Autonomo')" id="btnAutonomo"
                            disabled>SISTEMAS FOTOVOLTAICOS AUTONOMOS</button></td>
                    <td><button class="SFVH" type="button" onclick="seleccionarTipoSistema('Hibrido')" id="btnHibrido"
                            disabled>SISTEMAS FOTOVOLTAICOS HIBRIDOS</button></td>
                </tr>

            </table>
        </div>
        </div>
        <div class="seccion-registros">
            <div class="tabla-registros">
                <h1>GENERADOS RECIENTEMENTE</h1>
                <table>
                    <thead>
                        <tr>
                            <th id="referencia">Número de Servicio</th>
                            <th id="nombre_cliente">Nombre del Cliente</th>
                            <th id="campo-tipo">Tipo de Sistema</th>
                            <th id="acciones">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Aquí se insertarán los registros -->
                    </tbody>
                </table>
            </div>
        </div>
    </main>
    <footer>
        <div class="container">
            <p>&copy; 2024 TECNOLOGÍA SOLAR DE MÉXICO S.A. DE C.V.</p>
        </div>
    </footer>
<script src="src/controllers/formulas.js"></script>

    <script>
        function seleccionarTipoSistema(tipo) {
            // Guardar el tipo en localStorage
            localStorage.setItem('tipoSistema', tipo);
            window.location.href = 'principalSistema.html';
        }

        // Función para cargar registros desde el servidor
        function cargarRegistros() {
            fetch('/obtenerRegistros')
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        const tbody = document.querySelector('.tabla-registros tbody');
                        tbody.innerHTML = '';

                        data.data.forEach(registro => {
                            const fila = document.createElement('tr');

                            // Columnas básicas
                            ['referencia', 'nombre_cliente', 'tipo_sistema'].forEach(campo => {
                                const columna = document.createElement('td');
                                columna.textContent = registro[campo];
                                fila.appendChild(columna);
                            });

                            // Columna de acciones
                            const columnaAcciones = document.createElement('td');
                            columnaAcciones.classList.add('acciones');

                            // Botones
                            const botones = [
                                {
                                    clase: 'editar', icono: 'ph--note-pencil-bold', tooltip: 'Editar',
                                    accion: () => editarRegistro(registro.id_cliente)
                                },
                                {
                                    clase: 'pdf', icono: 'ph--file-pdf-bold', tooltip: 'Ver PDF',
                                    accion: () => verPdfRegistro(registro.id_cliente)
                                },
                                {
                                    clase: 'eliminar', icono: 'ph--trash-bold', tooltip: 'Eliminar',
                                    accion: () => eliminarRegistro(registro.id_cliente)
                                }
                            ];

                            botones.forEach(({ clase, icono, tooltip, accion }) => {
                                const btn = document.createElement('button');
                                btn.classList.add(clase);
                                btn.innerHTML = `<span class="${icono}"></span>`;
                                btn.setAttribute("data-tooltip", tooltip);
                                btn.addEventListener('click', accion);
                                columnaAcciones.appendChild(btn);
                            });

                            fila.appendChild(columnaAcciones);
                            tbody.appendChild(fila);
                        });
                    }
                })
                .catch(error => console.error('Error:', error));
        }

        document.addEventListener('DOMContentLoaded', cargarRegistros);


        //eliminar Registro
        function eliminarRegistro(id_cliente) {
            if (!id_cliente) {
                Swal.fire('Error', 'ID de cliente no válido', 'error');
                return;
            }

            Swal.fire({
                title: '¿Estás seguro?',
                text: "No podrás revertir esta acción",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sí, eliminar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    fetch(`/eliminarRegistro/${id_cliente}`, {
                        method: 'DELETE'
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                Swal.fire('¡Eliminado!', 'Registro eliminado con éxito', 'success');
                                cargarRegistros();
                            }
                        });
                }
            });
        }

        //PDF
        function verPdfRegistro(id_cliente) {
    window.open(`/generarPDF/${id_cliente}`, '_blank');
}

    </script>

</body>
</html>