<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora Sistemas Fotovoltaicos</title>
    <link rel="stylesheet" href="css/styles.css" />
</head>

<body>
    </div>
    <div class="panel-sistema">
        <div class="seccion-titulo">
            <h3>TAMAÑO DEL SISTEMA</h3>
        </div>
        <div class="seccion-consumo">
            <div>
                <label>Consumo Energético Diario(KWh): </label>
                <p><span class="valor-resultado diario"></span></p>
            </div>
            <!-- <li>
                        <label>Consumo Energético Mensual(KWh): </label>
                        <p><span class="valor-resultado mensual"></span></p>
                    </li>
                    <li>
                        <label>Consumo Energético Anual(KWh): </label>
                        <p><span class="valor-resultado anual"></span></p>
                    </li>-->
            <div>
                <label>Ingrese la Radiación Diaria:</label>
                <p><input type="number" id="radiacion-diaria" value="" /></p>
            </div>
            <div>
                <label>Potencia Pico del Sistema(KW):</span> </label>
                <p><span class="valor-resultado potencia"></span></p>
            </div>
            <div class="botones">
                <button class="calcular">Calcular</button>
            </div>
        </div>
        <div class="seccion-inversores">
            <h3>INVERSORES-</h3>
        </div>
        <div class="seccion-modulos">
            <h3>-MODULOS-</h3>
        </div>
    </div>
</body>

</html>