<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora de Sistemas Fotovoltaicos</title>
    <link rel="stylesheet" href="css/resultados.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    <header>
        <div class="nav-bar">
            <a href="inicioSistema.html" class="logo"><img src="Images/LogoTSolar.jpg" alt="Logo"></a>
            <button class="ic--baseline-home"></button>
            <h1>CALCULADORA DE <br> SISTEMAS FOTOVOLTAICOS</h1>
        </div>
    </header>
    <main>
        <div class="titulo">
            <h1>RESULTADOS DEL SISTEMA <br> FOTOVOLTAICO</h1>
        </div>
        <div class="contenedor-principal">
            <div class="seccion-tamano">
                <h3>TAMAÑO DEL SISTEMA</h3>
                <label for="potencia-pico">Potencia Pico del Sistema (KW):</label>
                <input id="potencia-pico" type="text" />
            </div>
            <div class="seccion-promedios">
                <table class="tabla-consumo">
                    <tr>
                        <h3 class="promedios">CONSUMO ENERGÉTICO</h3>
                    </tr>
                    <tr>
                        <th>Promedio Diario Calculado</th>
                        <th>Promedio Mensual Calculado</th>
                        <th>Consumo Anual Calculado</th>
                    </tr>
                    <tr>
                        <td><input id="promedio-diario" type="text" /></td>
                        <td><input id="promedio-mensual" type="text" /></td>
                        <td><input id="promedio-anual" type="text" /></td>
                    </tr>
                </table>
            </div>
        </div>
        <br><br>
        <div class="instruction-box">
            <i class="icon-info">&#9432;</i>
            <span>Para calcular automáticamente el número de módulos e inversores necesarios, ingrese la marca y
                potencia nominal de salida del módulo y el inversor.</span>
        </div>
        <div class="contenedor-principal">
            <div class="seccion-inversor">
                <table class="tabla-inversor">
                    <tr>
                        <th colspan="2">
                            <h3>Inversores para el Sistema</h3>
                        </th>
                    </tr>
                    <tr>
                        <td><label for="marca-inversor">Marca del Inversor:</label></td>
                    </tr>
                    <tr>
                        <td><input id="marca-inversor" type="text" /></td>
                    </tr>
                    <tr>
                        <td><label for="potencia-inversor">Potencia Nominal de Salida (W):</label></td>
                    </tr>
                    <tr>
                        <td><input id="potencia-inversor" type="text" /></td>
                    </tr>
                    <tr>
                        <td><label for="inversores-utilizar">Inversores a utilizar:</label></td>
                    </tr>
                    <tr>
                        <td><input id="inversores-utilizar" type="text" /></td>
                    </tr>
                </table>
            </div>
            <div class="seccion-modulos">
                <table class="tabla-modulos">
                    <tr>
                        <th colspan="2">
                            <h3>Módulos para el Sistema</h3>
                        </th>
                    </tr>
                    <tr>
                        <td><label for="marca-modulo">Marca del Módulo:</label></td>
                    </tr>
                    <tr>
                        <td><input id="marca-modulo" type="text" /></td>
                    </tr>
                    <tr>
                        <td><label for="potencia-modulo">Potencia Nominal de Salida(W):</label></td>
                    </tr>
                    <tr>
                        <td><input id="potencia-modulo" type="text" /></td>
                    </tr>
                    <tr>
                        <td><label for="modulos-utilizar">Módulos a utilizar:</label></td>
                    </tr>
                    <tr>
                        <td><input id="modulos-utilizar" type="text" /></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="buttons">
            <button class="guardar">Guardar</button>
            <button class="actualizar" style="display: none;">Actualizar</button>
            <button class="pdf">PDF</button>
        </div>
    </main>
    <footer>
        <div class="container">
            <p>&copy; 2024 TECNOLOGÍA SOLAR DE MÉXICO S.A. DE C.V.</p>
        </div>
    </footer>
    <script src="src/controllers/formulas.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const urlParams = new URLSearchParams(window.location.search);
            if (urlParams.get('modo') === 'edicion') {
                // Promedios con formato
                document.getElementById('potencia-pico').value = parseFloat(localStorage.getItem('potenciaPico')).toFixed(3);
                document.getElementById('promedio-diario').value = parseFloat(localStorage.getItem('promedioDiario')).toFixed(3);
                document.getElementById('promedio-mensual').value = parseFloat(localStorage.getItem('promedioMensual')).toFixed(3);
                document.getElementById('promedio-anual').value = parseFloat(localStorage.getItem('promedioAnual')).toFixed(3);

                // Obtener datos del sistema
                const idCliente = localStorage.getItem('editandoId');
                fetch(`/obtenerSistema/${idCliente}`)
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            console.log('Datos del servidor:', data.data);

                            // Módulos
                            document.getElementById('modulos-utilizar').value = data.data.modulos_utilizar || '';
                            document.getElementById('potencia-modulo').value = data.data.potencia_modulo || '';
                            document.getElementById('marca-modulo').value = data.data.marca_modulo || '';

                            // Inversores
                            document.getElementById('potencia-inversor').value = data.data.potencia_inversor || '';
                            document.getElementById('marca-inversor').value = data.data.marca_inversor || '';
                            // Ejecutamos el cálculo automático de módulos e inversores
                            actualizarComponentes();
                        }
                    });
            }
        });

    </script>
</body>

</html>