@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* Estilos generales */
body {
  font-family: Poppins;
  font-size: 16px;
  margin: 0;
  background-color: #f4f4f4;
}

/* Header y navegación */
header {
  background-color: #088608;
  color: #fff;
  padding: 0.1rem 0;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 150px;
  padding: 0 10px;
}

.logo {
  order: 3;
}

.logo img {
  height: 90px;
}

h1 {
  order: 2;
  font-size: 32px;
  text-align: center;
  flex-grow: 1;
}

.ic--baseline-home {
  order: 1;
  width: 50px;
  height: 50px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23ffffff' d='M10 20v-6h4v6h5v-8h3L12 3L2 12h3v8z'/%3E%3C/svg%3E")
    no-repeat center/contain;
  border: none;
  cursor: pointer;
}

.ic--baseline-home:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Contenido principal */
main {
  padding: 1.5em;
  background-color: #ffffff;
  justify-items: center;
}

.seccion-saludo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 3px solid #168012;
  border-radius: 10px;
  padding: 10px;
  width: 90%;
  margin-bottom: 50px;
}

.seccion-saludo h1 {
  order: 1;
  align-self: flex-start;
  margin-left: 26px;
  margin-bottom: 5px;
}

.seccion-saludo h2 {
  order: 2;
  align-self: flex-start;
  font-size: 24px;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 30px;
}

.tabla-saludo {
  order: 3;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
}

.tabla-saludo td {
  text-align: center;
  border: none;
}

.tabla-saludo button {
  width: 350px;
  height: 100px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-size: 19px;
  font-weight: bold;
}

.SFVI {
  background-color: #06a706; /* Color de fondo para el botón SFVI */
  border-color: #06a706;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.53);
  color: rgb(0, 0, 0); /* Color del texto del botón */
}

.SFVA {
  background-color: #ff8800;
  border-color: #ff9900;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.53);
  color: rgb(0, 0, 0); /* Color del texto del botón */
}

.SFVH {
  background-color: #ffcc00;
  border-color: #ffcc00;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.53);
  color: rgb(0, 0, 0); /* Color del texto del botón */
}

.SFVI:hover {
  border: 3px solid;
  color: white;
  border-color: #030003;
  font-weight: bolder;
}

.SFVA:hover {
  border: 3px solid;
  color: white;
  border-color: #030003;
  font-weight: bolder;
}

.SFVH:hover {
  color: white;
  border: 3px solid;
  border-color: #030003;
  font-weight: bolder;
}

/*TABLA DE REGISTROS */

.seccion-tabla {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 10px;
  width: 98%;
  margin-top: 50px;
}

.seccion-tabla h1{
  font-size: 28px;
}

table {
  width: 1100px;
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 50px;
}

th,
td {
  border: 2px solid #000000;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #999999;
}

td {
  border: 2px solid #000000;
  padding: 8px;
  text-align: center;
  overflow-x: auto;
  max-width: 450px;
}

#campo-nombre{
  width: 450px;
}

#campo-tipo{
  width: 300px;
}

.acciones {
  width: 200px;
  min-width: 200px;
}

.acciones button {
  align-content: center;
  margin: 0 5%;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Tooltip para los botones */
.acciones button[data-tooltip] {
  position: relative;
}

.acciones button[data-tooltip]:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  font-size: 14px;
  border: 1px solid #333;
  z-index: 1;
  opacity: 1;
}


.editar {
  background-color: rgb(23, 19, 219); /* Verde */
  color: white;
}

.eliminar {
  background-color: #be0000; /* Rojo */
  color: white;
}

.pdf{
  background-color: #088225;
  color: white;
}

/*BOTON DESCARGAR*/
.ph--file-pdf-bold {
    display: inline-block;
    width: 1.1em;
    height: 1.1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cpath fill='%23000' d='M200 164v8h12a12 12 0 0 1 0 24h-12v12a12 12 0 0 1-24 0v-56a12 12 0 0 1 12-12h32a12 12 0 0 1 0 24Zm-108 8a32 32 0 0 1-32 32h-4v4a12 12 0 0 1-24 0v-56a12 12 0 0 1 12-12h16a32 32 0 0 1 32 32m-24 0a8 8 0 0 0-8-8h-4v16h4a8 8 0 0 0 8-8m100 8a40 40 0 0 1-40 40h-16a12 12 0 0 1-12-12v-56a12 12 0 0 1 12-12h16a40 40 0 0 1 40 40m-24 0a16 16 0 0 0-16-16h-4v32h4a16 16 0 0 0 16-16M36 108V40a20 20 0 0 1 20-20h96a12 12 0 0 1 8.49 3.52l56 56A12 12 0 0 1 220 88v20a12 12 0 0 1-24 0v-4h-48a12 12 0 0 1-12-12V44H60v64a12 12 0 0 1-24 0m124-51v23h23Z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }

/* BOTON EDITAR */
.ph--note-pencil-bold {
    display: inline-block;
    width: 1.1em;
    height: 1.1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cpath fill='%23000' d='m232.49 55.51l-32-32a12 12 0 0 0-17 0l-96 96A12 12 0 0 0 84 128v32a12 12 0 0 0 12 12h32a12 12 0 0 0 8.49-3.51l96-96a12 12 0 0 0 0-16.98M192 49l15 15l-11 11l-15-15Zm-69 99h-15v-15l56-56l15 15Zm105-7.43V208a20 20 0 0 1-20 20H48a20 20 0 0 1-20-20V48a20 20 0 0 1 20-20h67.43a12 12 0 0 1 0 24H52v152h152v-63.43a12 12 0 0 1 24 0'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }


/* BOTON ELIMINAR */
.ph--trash-bold {
  display: inline-block;
  width: 1.1em;
  height: 1.1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cpath fill='%23000' d='M216 48h-36V36a28 28 0 0 0-28-28h-48a28 28 0 0 0-28 28v12H40a12 12 0 0 0 0 24h4v136a20 20 0 0 0 20 20h128a20 20 0 0 0 20-20V72h4a12 12 0 0 0 0-24M100 36a4 4 0 0 1 4-4h48a4 4 0 0 1 4 4v12h-56Zm88 168H68V72h120Zm-72-100v64a12 12 0 0 1-24 0v-64a12 12 0 0 1 24 0m48 0v64a12 12 0 0 1-24 0v-64a12 12 0 0 1 24 0'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.eliminar {
  background-color: #ff4444;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.eliminar:hover {
  background-color: #cc0000;
}



/* Estilo para error */
.input-error {
  border: 1px solid red;
  background-color: #ffe6e6;
}

/* Tooltip se muestra cuando pasa el ratón sobre el campo */
.input-error[title] {
  position: relative;
  cursor: pointer;
}

.input-error[title]:hover::after {
  content: attr(title); /* Muestra el contenido del atributo title */
  position: absolute;
  background-color: #f8d7da;
  color: #721c24;
  padding: 5px;
  border-radius: 4px;
  top: -35px; /* Ajusta la posición del tooltip */
  left: 0;
  white-space: nowrap;
  font-size: 16px;
  border: 1px solid #f5c6cb;
  z-index: 1;
}

/* Footer */
footer {
  background-color: #333;
  color: white;
  padding: 1em 0;
  text-align: center;
}