@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"); /* Importación de la fuente Poppins */

body {
  font-family: Poppins;
  font-size: 16px;
  margin: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #088608;
  color: #fff;
  padding: 0.1rem 0;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 150px;
  padding: 0 10px;
}

.logo {
  order: 3;
}

.logo img {
  height: 90px;
}

h1 {
  order: 2;
  font-size: 32px;
  text-align: center;
  flex-grow: 1;
}

.ic--baseline-home {
  order: 1;
  width: 50px;
  height: 50px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23ffffff' d='M10 20v-6h4v6h5v-8h3L12 3L2 12h3v8z'/%3E%3C/svg%3E") no-repeat center/contain;
  border: none;
  cursor: pointer;
}

.ic--baseline-home:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

main {
  padding: 1.5em;
  background-color: #ffffff;
}

.titulo {
  background-color: #f1c40f;
  height: 100px;
  width: 700px;
  justify-self: center;
  /*border: 2.5px solid #000000;*/
  border-radius: 50px;
  display: flex; /* agregar display flex */
  justify-content: center; /* centrar horizontalmente */
  align-items: center; /* centrar verticalmente */
  margin-bottom: 25px;

}

.titulo h1 {
  font-size: 28px;
  margin: 0; /* eliminar margen por defecto de h1 */
}

.contenedor-principal {
  display: flex;
  flex-wrap: wrap;
  gap: 90px;
  justify-content: center;
}

.seccion-consumo, .seccion-ubicacion{
  margin-top: -90px;
  flex: 1; 
}

.seccion-consumo h2, .seccion-ubicacion h2 {
  font-size: 26px;
  text-align: center;
}

.seccion-consumo {
  width: 100%;
  background-color: white;
  padding: 25px;
  padding-bottom: 5px;
  padding-top: 5px;
  border-radius: 20px;
  border: 3px solid #168012;
}

.consumos[type="number"]{
 width: 167px;
}

.seccion-consumo input{
  width: 88%;
 }

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding-bottom: 2em;
  /*border-bottom: 1px solid #ddd;*/
  text-align: center;
}

th {
  background-color: #fff;
}

.seccion-ubicacion {
  width: 400px;
  background-color: #ffffff;
  padding-left: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 3px solid #000000;
}

.input-ubicacion {
  margin-bottom: 1em;
  padding-bottom: 0.8em;
}

.input-ubicacion label {
  display: block;
  margin-bottom: 5px;
}

.input-ubicacion input {
  width: 350px;
  height: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.buttons {
  text-align: center;
  padding-top: 2.5em;
}

.buttons button {
  width: 150px;
  padding: 10px 20px;
  margin: 0 30px;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
}

.continuar{
  background-color: #3e8e41;
}

.continuar:hover {
  background-color: #FF9900; /* bright purple color */
  border: 2px solid;
  border-color: #030003;
}


.cancelar{
  background-color: #9c9b9b;
}

.cancelar:hover {
  background-color: #7A288A; /* bright purple color */
  border: 2px solid;
  border-color: #030003;
}


footer {
  background-color: #333;
  color: white;
  padding: 1em 0;
  text-align: center;
}